body{
    margin: 0;
    background-color: #a95ef7;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    width: 200px;
    background-color: #ffffff;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: flow-root;
    color: #000;
    padding: 8px 12px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #853de3;
    color: white;
}

